[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-datadir = "*"
coverage = "*"
sphinx-autobuild = "*"
sphinx_rtd_theme = "*"
Sphinx = "*"
requests-mock = "*"

[packages]
toolchest = ">=0.0.4"
requests = "*"
